---
import fetchApi from '../../lib/strapi';
import type Artikel from '../../interfaces/artikel';
import Layout from '../../layouts/Layout.astro';
import SinglePost from '../../components/blog/SinglePost.astro';
export async function getStaticPaths() {
  const articles = await fetchApi<Artikel[]>({
    endpoint: 'textes',
    wrappedByKey: 'data',
  });
  console.log(articles);
  return articles.map((article) => ({
    params: { slug: article.id },
    props: article,
  }));
}
type Props = Artikel;

const article = Astro.props;
---

<Layout>
  <SinglePost post={{ title: article.attributes.Title }} url={`https://http://localhost:4321/artikel${article.id}`}>
    {article.attributes.Text.split('\n').map((block) => <p>{block}</p>)}
  </SinglePost>
</Layout>
