---
import type { GetStaticPaths } from 'astro';
import { getCollection, getEntry } from 'astro:content';
import { marked } from 'marked';
import Main from '../../layouts/main.astro';
import Prose from '../../components/Prose.astro';
import { render } from 'astro:content';
import Blog from '../../layouts/blog.astro';
import type { CollectionEntry } from 'astro:content';

export const getStaticPaths = (async () => {
    const texts = await getCollection('text');
    return texts.map((text) => ({
        params: { slug: text.id },
        props: text,
    }));
}) satisfies GetStaticPaths;

// `post` will match your 'blog' collection schema type
const text = Astro.props;
const { Content } = await render(text);
---

<Blog pageTitle={text.data.title}>
    <article class="grid justify-center min-w-page gap-y-5">
        <h1 class="text-4xl">{text.data?.title}</h1>
        <div class="border-black border-2 p-3">
            <p class="italic">{text.data.these}</p>
        </div>
        <Prose>
            <Content />
        </Prose>
    </article>
</Blog>
