---
import type { CollectionEntry } from 'astro:content';
import { getCollection, getEntries, render } from 'astro:content';
import Main from '../../layouts/main.astro';

type AugmentedArticle = CollectionEntry<'text'> & {
    data: CollectionEntry<'text'>['data'] & {
        renderedAutor: Array<CollectionEntry<'autor'>>;
    };
};

const articles = await getCollection('text');
const articlesWithRenderedAutor: AugmentedArticle[] = await Promise.all(
    articles.map(async (article: CollectionEntry<'text'>) => {
        // Resolve the author references (getEntries returns an array)
        const renderedAutor = await getEntries(article.data.autor);
        return {
            ...article,
            data: {
                ...article.data,
                renderedAutor,
            },
        } as AugmentedArticle;
    })
);
console.log(JSON.stringify(articles));
---

<Main pageTitle="Unsere Texte">
    <h2 class="mt-10 text-3xl mx-auto">Texte</h2>
    <div class="grid mt-5 lg:grid-cols-3 gap-y-14 lg:gap-10">
        {
            articlesWithRenderedAutor.map((article) => (
                <div class="border-black">
                    <h3 class="mt-5 text-2xl font-bold">{article.data.title}</h3>
                    <p class="mt-3 text-gray-500">
                        {article.body?.substring(0, 200)}...
                        <a href={'/texte/' + article.id} class="btn btn-link">
                            weiter lesen
                        </a>
                    </p>
                    <div class="flex mt-5 space-x-3 justify-between">
                        <div class="font-medium">
                            <span>
                                {' '}
                                {article.data.renderedAutor.map((author: CollectionEntry<'autor'>) => author.data.name)}
                            </span>
                        </div>
                        {/* <span class="text-gray-500">
                                {new Date(article.data.publishedAt).toLocaleDateString('de-DE')}
                            </span> */}
                        <div />
                    </div>
                </div>
            ))
        }
    </div>
</Main>
