---
import { getCollection } from 'astro:content';
import { marked } from 'marked';
import Main from '../../layouts/main.astro';
export async function getStaticPaths() {
    const autoren = await getCollection('autor');
    return autoren.map((autor) => ({
        params: { slug: autor.id },
        props: autor,
    }));
}
const autor = Astro.props;
---

<Main pageTitle={autor.data.name}>
    <h1 class="text-4xl text-center mt-10">{autor.data.name}</h1>
</Main>
