---
// Component Imports
import Button from '../components/Button.astro';
import Main from '../layouts/main.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Main pageTitle="LE-180">
    <div class="hero min-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">LE-180</h1>
                <p class="py-6">Hier kommt unser catchy Slogan hin.</p>
                <a href="/texte" class="btn btn-primary">Zu den Texten</a>
            </div>
        </div>
    </div>
</Main>
