---
// Component Imports
import Button from '../components/Button.astro';
import Main from '../layouts/main.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Main pageTitle="LE-180">
    <div class="hero min-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">LE-180</h1>
                <p class="py-6">
                    Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi.
                    In deleniti eaque aut repudiandae et a id nisi.
                </p>
                <button class="btn btn-primary">Get Started</button>
            </div>
        </div>
    </div>
</Main>
