---
import Flow from '../components/mind-map/MindMap.jsx';
---

<div class="flow-container">
  <Flow client:load />
</div>

<style>
  .flow-container {
    width: 800px;
    height: 800px;
  }
</style>
