---
import Navbar from '../components/Navbar.astro';

interface Props {
    pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<html lang="de" data-theme="light">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <div class="">
            <button data-toggle-theme="dark,light" data-act-class="ACTIVECLASS"></button>
            <div class="container flex flex-col justify-center px-6 py-6 mx-auto sm:py-12">
                <Navbar />
                <div class="mx-20">
                    <slot />
                </div>
            </div>
        </div>
    </body>
</html>
